:root {
    --pr-color: #4D3E3E;
    --sc-color: #FFF3CD;
    --rd-color: #FFC38B;
    --fr-color: #FF926B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--sc-color);
}

main {
    margin: 32px auto;
}

.container {
    border: 1px solid red;
    margin: 20px auto;
}

.row {
    border: 1px solid green;
}

.is-hidden {
    display: none;
}

.swiper {
    width: 98.2%;
    height: 100%;
  }


.stretched-link {
    border: none;
    background-color: transparent;
}

.time {
    border-radius: 25px;
    background: #4D3E3E;
    /* box-shadow:  15px 15px 30px #604e4e,
                -15px -15px 30px #604e4e; */
    color: var(--sc-color);
    max-width: 280px;
    margin: 30px;
    border: none;
}

.time #clock {
    font-size: 3em;
    margin: 0 auto;
    padding-top: 0;
  }
  
  .time #date {
    font-size: 24px;
    margin: 0 auto;
    padding-bottom: 10px;
  }


